<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投稿人</title>
    <style>
        body {width: 100%;min-width: 1200px;background: url(book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
        .x {border:1px solid white;width:90%;background-color:#77DDFF;margin:10px auto 0px auto}
        a {text-decoration: none;color:#3232CD ;}
        a:hover{color:blue;}
        .y {border:1px solid white;width:90%;background-color:#77DDFF;margin:10px auto 0px auto}
        .z {border:1px solid white;width:15%;height:265px;background-color:#77DDFF;margin-left:1227px;margin-top:10px;}
        .k {width:74.5%;margin:-265px auto 50px 78px}

    </style>
</head>
<body>
    <div class="x">
        <p style="font-size:60px;font-family:楷体;text-align:center;margin-top:10px;letter-spacing:20px">别人怀宝剑，我有笔如刀</p>
        <p style="font-size:30px;font-family:楷体;text-align:center;margin-top:-40px;">欢迎您,{{ name }}</p>
        <p style="font-size:20px;font-family:楷体;margin:-30px auto 10px 1200px;">{{ time }}</p>
    </div>
    <div class="y">
        <a href="../tougao" style="margin-left:1000px;">我要投稿</a>
        <a href="../gaofei" style="margin-left:60px">我的费用</a>
        <a href="../denglu1" style="margin-left:60px">退出登录</a>
    </div>
    <div class="z">
        <p style="margin-left:80px">个人信息</p>
        <p style="margin-left:10px">账号: {{ id }}</p>
        <p style="margin-left:10px">姓名: {{ name }}</p>
        <p style="margin-left:10px">联系电话: {{ phone }}</p>
        <p style="margin-left:10px">邮箱: {{ email }}</p>
        <p style="margin-left:10px">地址: {{ adress }}</p>
        <a href="../gai1" style="margin-left:20px;">修改密码</a>
        <a href="../gai2" style="margin-left:20px;">修改个人信息</a>
    </div>
    <div class="k">
        <p style="text-align:center;font-size:30px;margin-top:10px;margin-bottom:20px">我的稿件</p>
        <table width="100%" style="border-collapse:collapse; border-top:2px solid #000000;border-bottom:2px solid #000000;table-layout:fixed;word-break:break-all;">
            <tr>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none">稿件编号</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">标题</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">类型</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">投稿时间</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none">审查状态</th>
            </tr>
            {% for i in ar %}
            <form method="POST">
                <tr>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none;text-align:center">
                        <input type="text" name="id" maxlength="20" style="width:20%;-webkit-appearance:none;-moz-appearance:none;text-align:center;border:none;background-color:#CCEEFF" readonly="readonly"  value={{ i.article_id }} />
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.title }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.type }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.time|date:"Y-m-d"  }}</td>
                    {% for key,value in statue.items %}
                        {% if key == i.article_id %}
                            {% if value == "审核中" %}
                                 <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none;text-align:center">
                                     <span>{{ value }}</span>
                                     <input type="submit"  name="submit1" style="width: 60px;margin-left:10px" value="更改" />
                                     <input type="submit"  name="submit2" style="width: 60px;margin-left:10px" value="删除" />
                                 </td>
                            {% else %}
                                <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none;text-align:center">
                                    {{ value }}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</body>
</html>
