<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>系统管理员登录</title>
        <style>
             body {width: 100%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
	    .x {width: 30%;margin: 180px auto;}
            form .x1 {border:1px solid black}
            form .x2 {border:1px solid black;height:300px;background-color:#FFF0F5}
            form .label {margin:auto auto auto 110px}
            form .err {color:red;font-size:10px}
	</style>
    </head>
    <body>
        <form class="x" method="post">
            <div class="x1">
                <p style="font-size:30px;text-align:center;height:20px">系统管理员登录</p>
            </div>
            <div class="x2">
                <p>
                    <label for="i1" class="label">账号:</label>
                    <input type="text" id="i1" name="user" maxlength="20" style="margin-top:60px" value="" />
                    <span class="err">{{ err1 }}</span>
                </p>
                <p>
                    <label for="i2" class="label">密码:</label>
                    <input type="password" id="i2" name="password" maxlength="20" style="margin-top:10px" value="" />
                    <span class="err">{{ err2 }}</span>
                </p>
                <span>
                    <input type="submit"  name="submit" style="width: 60px;margin:auto auto auto 150px;" value="登录" />
                </span>
                <span>
                    <input type="button" onclick=location.href=("../zhuce") style="width: 60px;margin:20px auto auto 40px" value="注册" />
                </span>
                <span>
                    <input type="button" onclick=location.href=("../lxt") style="width: 60px;margin:20px auto auto 40px" value="返回" />
                </span>
            </div>
        </form>
    </body>
</html>


