<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看稿件</title>
    <style>
	      body {width: 99%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
          .x {width: 70%;margin: 15px auto;}
          form {border:1px solid white;height:630px;background-color:#CCEEFF}
    </style>
</head>
<body>
    <p>
        <input type="button" onclick=location.href=("../guanliyuan") style="width: 60px;margin:15px auto auto 1400px" value="返回" />
    </p>
    <form class="x" method="post">
                <span>
                    <textarea name="content" style="resize:none;width:80%;height:600px;margin-top:20px;margin-left:90px;maxlength="10000"">{{ axa }}</textarea>
                </span>
        </form>
</body>
</html>