<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理员</title>
    <style>
        body {width: 100%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
        .x {border:1px solid white;width:90%;background-color:#77DDFF;margin:10px auto 0px auto}
        a {text-decoration: none;color:#3232CD ;}
        a:hover{color:blue;}
        .y {border:1px solid white;width:90%;background-color:#77DDFF;margin:10px auto 0px auto}
        .z {border:1px solid white;width:15%;height:200px;background-color:#77DDFF;margin-left:1227px;margin-top:10px;}
        .k {width:74.5%;margin:-205px auto 50px 78px}
        form .label {margin:20px auto auto 100px}
    </style>
</head>
<body>
    <div class="x">
        <p style="font-size:60px;font-family:楷体;text-align:center;margin-top:10px;letter-spacing:20px">问渠那得清如许 为有源头活水来</p>
        <p style="font-size:30px;font-family:楷体;text-align:center;margin-top:-40px;">欢迎您,{{ name }}</p>
        <p style="font-size:20px;font-family:楷体;margin:-30px auto 10px 1200px;">{{ time }}</p>
    </div>
    <div class="y">
        <a href="../txx" style="margin-left:100px;">作者信息</a>
        <a href="../shenxinxi" style="margin-left:80px;">审稿人信息</a>
        <a href="../shenyuexinxi" style="margin-left:80px;">审阅信息</a>
        <a href="../sgf" style="margin-left:80px;">投稿人费用管理</a>
        <a href="../sss" style="margin-left:80px;">审稿人费用管理</a>
        <a href="../gf" style="margin-left:80px;">稿件费用管理</a>
        <a href="../zhuce2" style="margin-left:80px;">注册审稿人</a>
        <a href="../denglu" style="margin-left:80px">退出登录</a>
    </div>
    <form method="POST">
        <span>
            <label for="i1" class="label">查找指定作者:</label>
            <input type="text" id="i1" name="author" maxlength="20" value="" />
            <span class="err">{{ err1 }}</span>
        </span>
        <span>
            <input type="submit"  name="submit" style="width: 60px;margin:15px auto auto 50px;" value="查找" />
        </span>
    </form>
    <div class="z">
        <p style="margin-left:80px">个人信息</p>
        <p style="margin-left:10px">账号: {{ id }}</p>
        <p style="margin-left:10px">姓名: {{ name }}</p>
        <p style="margin-left:10px">联系电话: {{ phone }}</p>
        <a href="../gai3" style="margin-left:20px;">修改密码</a>
        <a href="../gai4" style="margin-left:20px;">修改个人信息</a>
    </div>
<div class="k">
        <p style="text-align:center;font-size:30px;margin-top:10px;margin-bottom:20px">稿件信息</p>
        <table width="100%" style="border-collapse:collapse; border-top:2px solid #000000;border-bottom:2px solid #000000;table-layout:fixed;word-break:break-all;">
            <tr>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none">稿件编号</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">标题</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">类型</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">投稿时间</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none">审查状态</th>
            </tr>
            {% for i in ar %}
            <form method="POST">
                <tr>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none;text-align:center">
                         <input type="text" name="id" maxlength="20" style="width:20%;-webkit-appearance:none;-moz-appearance:none;text-align:center;border:none;background-color:#CCEEFF" readonly="readonly"  value={{ i.article_id }} />
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.title }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.type }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.time|date:"Y-m-d"  }}</td>
                    {% for key,value in statue.items %}
                        {% if key == i.article_id %}
                            <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none;text-align:center">
                                {{ value }} <input type="submit"  name="submit1" style="width: 60px;margin-left:10px" value="查看" />
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</body>
</html>