<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投稿</title>
    <style>
	      body {width: 100%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
          .x {margin-left:40px;margin-top:30px}
          form {border:1px solid white;height:600px;background-color:#CCEEFF;width: 40%;margin: 40px auto;}
          .label {margin:50px auto 0px 50px}
    </style>
</head>
<body>
    <form method="post">
        <div class="x">
        <p>
            编号:{{ id }}
        </p>
        <p style="margin-top:20px;">
            标题:{{ title }}
        </p>
        <span style="position:absolute;top:160px;left:510px">内容:</span>
        <span>
            <textarea name="content" style="resize:none;width:90%;height:350px;margin-top:15px;margin-left:40px;maxlength="10000"">{{ content }}</textarea>
        </span>
        <p style="margin-top:20px">
            <span>是否通过:</span>
            <input type="radio" id="i1" name="pass" value="是" style="margin-left:30px" />
            <label for="i1" class="label" style="margin-left:0px">通过</label>
            <input type="radio" id="i2" name="pass" checked="checked" value="否" style="margin-left:30px" />
            <label for="i2" class="label" style="margin-left:0px">不通过</label>
        </p>
        <span>
            <input type="submit" name="submit" style="width: 60px;margin:20px auto auto 150px;" value="提交" />
        </span>
        <span>
            <input type="button" onclick=location.href=("../shengaoren") style="width: 60px;margin:20px auto auto 40px" value="返回" />
        </span>
        </div>
    </form>
</body>
</html>