<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审稿人信息</title>
    <style>
        body {width: 100%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
    </style>
</head>
<body>
    <span>
        <input type="button" onclick=location.href=("../guanliyuan") style="width: 60px;margin:20px auto auto 1400px" value="返回" />
    </span>
    <div class="k">
        <p style="text-align:center;font-size:30px;margin-top:10px;margin-bottom:20px;margin-left:-30px">审稿人信息</p>
        <table width="90%" style="border-collapse:collapse; border-top:2px solid #000000;border-bottom:2px solid #000000;table-layout:fixed;word-break:break-all;margin-left:60px">
            <tr>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none">审稿人编号</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">审稿人姓名</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">审稿人电话</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black；border-right:none">删除审稿人</th>
            </tr>
            {% for i in ll %}
            <form method="POST">
                <tr>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none;text-align:center">
                        <input type="text" name="id" maxlength="20" style="width:50%;-webkit-appearance:none;-moz-appearance:none;text-align:center;border:none;background-color:#CCEEFF;font-size:15px" readonly="readonly"  value={{ i.reviewer_id }} />
                    </td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.reviewer_name }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.reviewer_phone }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none;text-align:center">
                        <input type="submit"  name="submit1" style="width: 60px;margin-left:10px" value="删除" />
                    </td>
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</body>
</html>