<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投稿</title>
    <style>
	      body {width: 99%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
          .x {width: 40%;margin: 40px auto;}
          form {border:1px solid white;height:630px;background-color:#CCEEFF}
          .label {margin:50px auto 0px 50px}
          form .err {color:red;font-size:10px}
    </style>
</head>
<body>
    <form class="x" method="post">
                <p style="margin-top:0px;">
                    <label for="i1" class="label">标题:</label>
                    <input type="text" id="i1" name="title" maxlength="20" style="margin-top:40px;width:70%" value="" />
                     <span class="err">{{ err1 }}</span>
                </p>
                <p style="margin-top:30px;">
                    <label for="i2" class="label">类型:</label>
                    <select id="i2" name="type" style="margin-top:10px;width:40%">
                        <option id="type" value="人文艺术类"selected>人文艺术类</option>
                        <option id="type" value="科技创新类">科技创新类</option>
                        <option id="type" value="体育健康类">体育健康类</option>
                        <option id="type" value="生活养生类">生活养生类</option>
                        <option id="type" value="经济财经类">经济财经类</option>
                        <option id="type" value="其他">其他</option>
                    </select>
                </p>
                <span style="position:absolute;top:192px;left:515px">内容:</span>
                <span>
                    <textarea name="content" style="resize:none;width:70%;height:350px;margin-top:20px;margin-left:90px;maxlength="10000""></textarea>
                    <p style="font-size:10px;margin-left:90px">(最多为10000字)</p>
                    <span class="err">{{ err2 }}</span>
                </span>
                <span style="margin-left:80px">
                    <input type="submit" name="submit" style="width: 60px;margin:auto auto auto 150px;" value="提交" />
                </span>
                <span>
                    <input type="button" onclick=location.href=("../tougaoren") style="width: 60px;margin:20px auto auto 40px" value="返回" />
                </span>
        </form>
</body>
</html>