<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投稿人</title>
    <style>
        body {width: 100%;min-width: 1200px;background: url(/static/book.jpg) no-repeat center center fixed;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
        .k {width:74.5%;margin:20px auto 50px 150px}

    </style>
</head>
<body>
    <span>
        <input type="button" onclick=location.href=("../guanliyuan") style="width: 60px;margin:20px auto auto 1400px" value="返回" />
    </span>
    <div class="k">
        <table width="100%" style="border-collapse:collapse; border-top:2px solid #000000;border-bottom:2px solid #000000;table-layout:fixed;word-break:break-all;">
            <tr>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none">作者姓名</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">稿件编号</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">标题</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black">类型</th>
                <th style="padding:80px;padding-top:10px;padding-bottom:10px;border:1px solid black;border-right:none">投稿时间</th>
            </tr>
            {% for i in lis %}
                <tr>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;border-left:none;text-align:center">{{ i.0 }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.1 }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.2 }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center">{{ i.3 }}</td>
                    <td style="padding-top:10px;padding-bottom:10px;border:1px solid black;text-align:center;border-right:none">{{ i.4 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>